name: Hello world

on:
  workflow_dispatch:
    inputs:
      name:
        description: 'Name'
        type: string
        default: 'Test'
        age:
          description: 'Age'
          type: number
          required: true

jobs:
  demo:
    runs-on: ubuntu-latest

    steps:
      - name: Greetings
        run: echo "${{ input.name }}"

     - name: Age
       run: echo "${{ input.age }}"
